html, body, form, input, p, h1,
h2, h3, h4, h5, div, section, header
ul, img, li {
    padding: 0px;
    margin: 0px;
}
$pading-ss-horizont: 5px;
$pading-s-horizont: 20px;
$pading-m-horizont: 40px;
$pading-l-horizont: 150px;
$pading-xl-horizont: 300px;
$padding-main-vert: 10px;
$light-brown: #cca410;
$light-green: #00f669;
$light-red: #ff3325;
$dark-yellow: #ffcc00;
$input-height: 25px;


html {
    width: 100%;
    height: 100%;   
    body {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: 1000px;
        .messages {
            position: absolute;
            width: 25%;
            margin-left: 50%;
            text-align: center;
            ul {
                list-style: none;
            }            
            li {
                border: 1px solid #000;
                border-radius: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                
                -moz-animation-name: fadeOut;
                -moz-animation-fill-mode:forwards;
                -moz-animation-iteration-count: 1;
                -moz-animation-timing-function: ease-in;
                -moz-animation-duration: 3s;

                -webkit-animation-name: fadeOut;
                -webkit-animation-fill-mode:forwards;
                -webkit-animation-iteration-count: 1;
                -webkit-animation-timing-function: ease-in;
                -webkit-animation-duration: 3s;

                animation-name: fadeOut;
                animation-fill-mode:forwards;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 3s;
            }
            
            @-moz-keyframes fadeOut {
                0% { opacity: 1;}
                100% { 
                    opacity: 0;
                }
            }
            @-webkit-keyframes fadeOut {
                0% { opacity: 1;}
                100% { 
                    opacity: 0;
                }
            }
            @keyframes fadeOut {
                0% { opacity: 1;}
                100% {
                    opacity: 0;
                }
            }
            
            li.infoMessage {
                background-color: $light-green;
            }
            li.errorMessage {
                background-color: $light-red;
            }
        }        
         header {
            background-color: $light-brown;
            padding-left: $pading-s-horizont;
            padding-top: $padding-main-vert;
            padding-bottom: $padding-main-vert;
            img {
                height: 100px;
            }
            ul, li, img {
                display: inline-block;
                vertical-align: middle;
            }
            li {
                padding-left: $pading-s-horizont;           
            }

        }
        .main-section {
            height: 450px;
            form {
                outline: 1px solid #000;
                margin-left: $pading-xl-horizont;
                margin-right: $pading-xl-horizont;
                margin-top: $pading-m-horizont;
                padding: $pading-s-horizont;
                label, input {
                    display: block;
                    height: $input-height;
                    margin-top: $pading-ss-horizont;
                }
                input {
                    width: 100%;
                    /*margin-top: $pading-ss-horizont;*/
                }
                div {
                    margin-left: $pading-s-horizont;
                    margin-right: $pading-s-horizont;
                }
                button {
                    height: $input-height;
                    width: 40%;
                    display: inline-block;
                    margin-top: $pading-s-horizont;
                    margin-left: $pading-s-horizont;
                }
                a {
                    text-decoration: none;
                }
                h3 {
                    margin-bottom: $pading-s-horizont;
                }
            }
            .phones {
                ul {
                    list-style: none;
                    width: 100%;
                    
                    a {
                       text-decoration: none;
                    }
                    li {
                        width : 100%;
                        background-color: $dark-yellow;
                        outline: 1px solid #000;
                    }
                }
            }
        }
        footer {
            text-align: center;
        } 
    }    
}