html, body, form, input, p, h1,
h2, h3, h4, h5, div, section, header
ul, img, li {
    padding: 0px;
    margin: 0px;
}
$pading-ss-horizont: 5px;
$pading-s-horizont: 20px;
$pading-m-horizont: 40px;
$pading-l-horizont: 150px;
$pading-ll-horizont: 200px;
$pading-xl-horizont: 300px;
$padding-main-vert: 10px;
$light-brown: #cca410;
$light-green: #00f669;
$light-red: #ff3325;
$dark-yellow: #ffcc00;
$input-height: 25px;
$list-font-size: 30px;
$text-size-s: 15px;

.italic {
    font-style: italic;
}
.text-s {
    font-size: $text-size-s;
}
html {
    width: 100%;
    height: 100%;
    background-color: #333333;
    font-family: Consolas;
    body {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        background-color: #999999;
        height: 100%;
        outline: 2px solid red;
        .messages {
            position: absolute;
            width: 25%;
            left: 70%;
            text-align: center;
            top: 4%;
            outline: 2px solid green;
            ul {
                list-style: none;
            }            
            li {
                outline: 1px solid #000;
                border-radius: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
                
                -moz-animation-name: fadeOut;
                -moz-animation-fill-mode:forwards;
                -moz-animation-iteration-count: 1;
                -moz-animation-timing-function: ease-in;
                -moz-animation-duration: 8s;

                -webkit-animation-name: fadeOut;
                -webkit-animation-fill-mode:forwards;
                -webkit-animation-iteration-count: 1;
                -webkit-animation-timing-function: ease-in;
                -webkit-animation-duration: 8s;

                animation-name: fadeOut;
                animation-fill-mode:forwards;
                animation-iteration-count: 1;
                animation-timing-function: ease-in;
                animation-duration: 8s;
            }
            
            @-moz-keyframes fadeOut {
                0% { opacity: 1;}
                100% { 
                    opacity: 0;
                }
            }
            @-webkit-keyframes fadeOut {
                0% { opacity: 1;}
                100% { 
                    opacity: 0;
                }
            }
            @keyframes fadeOut {
                0% { opacity: 1;}
                100% {
                    opacity: 0;
                }
            }
            
            li.infoMessage {
                background-color: $light-green;
            }
            li.errorMessage {
                background-color: $light-red;
            }
        }        
         header {
            background-color: $light-brown;
            padding-left: $pading-s-horizont;
            padding-top: $padding-main-vert;
            padding-bottom: $padding-main-vert;
            height: 90px;
            outline: 2px solid green;
            img {
                height: 100px;
            }
            ul, li, img {
                display: inline-block;
                vertical-align: middle;
                outline: 2px solid blue;
            }
            li {
                padding-left: $pading-s-horizont;
                padding-right: $pading-s-horizont;
                border-left: 1px solid #000;
                border-right: 1px solid #000;
            }
            ul {
                position: relative;
                width: 100%;
                top: 30%;
                /*border: 1px solid red;*/
            }
            a {
                color: #000;
                text-decoration: none;
                outline: 2px solid blue;
            }
            .rightSide {
                position: absolute;
                right: $pading-ll-horizont;
                top: $pading-ss-horizont;
                vertical-align: middle;
                outline: 2px solid blue;
            }
        }
        .main-section {
            border: 2px solid yellow;
            height: 77%;
            #welcome {
                margin-top: $pading-s-horizont;
            }
            .action-bar {
                display: inline-block;
                width: 25%;
                outline: 2px solid red;
                margin-left: $pading-m-horizont;
                height: 100%;
                 overflow: auto;
            }
            .main-display {
                display: inline-block;
                width: 60%;
                outline: 2px solid red;
                margin-left: $pading-m-horizont;
                height: 100%;
                overflow: hidden;
                form {
                    outline: 1px solid #000;
                    padding: $pading-s-horizont;
                    outline: 2px solid greenyellow;
                    overflow: auto;
                    height: 77%;
                    label, input {
                        display: block;
                        height: $input-height;
                        margin-top: $pading-ss-horizont;
                        outline: 2px solid blue;
                    }
                    input {
                        width: 100%;
                        outline: 2px solid blue;
                        /*margin-top: $pading-ss-horizont;*/
                    }
                    div {
                        margin-left: $pading-s-horizont;
                        margin-right: $pading-s-horizont;
                        outline: 2px solid blue;
                    }
                    button {
                        height: $input-height;
                        width: 40%;
                        display: inline-block;
                        margin-top: $pading-s-horizont;
                        margin-bottom: $pading-s-horizont;
                        margin-left: $pading-s-horizont;
                    }
                    a {
                        text-decoration: none;
                        outline: 2px solid greenyellow;
                    }
                    h3 {
                        margin-bottom: $pading-s-horizont;
                        outline: 2px solid blue;
                    }
                    .customField {
                        margin-left: 0px;
                        margin-right: 0px;
                        outline: 2px solid red;
                        div {
                            display: inline-block;
                            width: 47%;
                            margin-left: $pading-ss-horizont;
                            margin-right: $pading-ss-horizont;
                            outline: 2px solid greenyellow;
                        }
                    }
                }
                .panel {
                    padding: $pading-ss-horizont;
                    border: 1px solid yellow;
                    height: 9%;
                    width: 100%;
                    div {
                        width: 100%;
                        height: 100%;
                        margin-left: 5%;
                        button {
                            height: 90%;
                            width: 40%;
                        }
                    }
                }
                .mainList {                    
                    border: 2px solid yellow;
                    height: 84%;
                    width: 100%;
                    overflow: auto;
                    ul {
                        padding-left: $pading-s-horizont;
                        list-style-type: none;
                        outline: 2px solid green;
                        width: 90%;
                        a {
                            display: inline-block;
                            width: 85%;
                            text-decoration: none;
                            font-size: $list-font-size;
                            color: #000;
                            background-color: $dark-yellow;
                            outline: 2px solid red;
                        }
                        .delBtn {
                            height: 100%;
                            width: 7%;
                            background-color: $dark-yellow;
                            font-size: 20px;
                            outline: 2px solid blue;
                        }
                        li {
                            width: 98%;
                            background-color: $dark-yellow;
                            outline: 1px solid #000;
                            margin-top: $pading-s-horizont;
                            font-size: $list-font-size;
                        }
                    }
                }
                .checkForm {
                    outline: 2px solid greenyellow;
                    overflow: auto;
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    height: 80%;
                    ul {
                        list-style: none;
                        margin: 0px;
                        width: 100%;
                        outline: 2px solid yellowgreen;
                        padding: 0px;
                        li {
                            outline: 2px solid blue;
                            display: inline-block;
                            width: 94%;
                            height: $input-height;
                            margin: 0px;
                            margin-top: $pading-s-horizont;
                            margin-left: $pading-s-horizont;
                            span {
                                outline: 2px solid red;
                                font-size: $list-font-size;
                                width: 91%;
                                display: inline-block;
                            }
                            input {
                                outline: 1px solid red;
                                display: inline-block;
                                width: 6%;
                            }
                        }                        
                    }
                }
            }    
        }        
        footer {
            text-align: center;
        } 
    }    
}