html, body, form, input, p, h1,
h2, h3, h4, h5, div, section, header
ul, img, li {
  padding: 0px;
  margin: 0px; }

html {
  width: 100%;
  height: 100%;
  background-color: #333333; }
  html body {
    margin-left: auto;
    margin-right: auto;
    height: 200%;
    width: 1000px;
    background-color: #999999; }
    html body .messages {
      position: absolute;
      width: 25%;
      margin-left: 50%;
      text-align: center; }
      html body .messages ul {
        list-style: none; }
      html body .messages li {
        border: 1px solid #000;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        -moz-animation-name: fadeOut;
        -moz-animation-fill-mode: forwards;
        -moz-animation-iteration-count: 1;
        -moz-animation-timing-function: ease-in;
        -moz-animation-duration: 6s;
        -webkit-animation-name: fadeOut;
        -webkit-animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-timing-function: ease-in;
        -webkit-animation-duration: 6s;
        animation-name: fadeOut;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 6s; }
@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
      html body .messages li.infoMessage {
        background-color: #00f669; }
      html body .messages li.errorMessage {
        background-color: #ff3325; }
    html body header {
      background-color: #cca410;
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 80px; }
      html body header img {
        height: 100px; }
      html body header ul, html body header li, html body header img {
        display: inline-block;
        vertical-align: middle; }
      html body header li {
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid #000;
        border-right: 1px solid #000; }
      html body header ul {
        position: relative;
        width: 100%;
        border: 1px solid red; }
      html body header a {
        color: #000;
        text-decoration: none; }
      html body header .rightSide {
        position: absolute;
        right: 20px;
        top: 0px;
        vertical-align: middle; }
    html body .main-section {
      height: 80%; }
      html body .main-section form {
        outline: 1px solid #000;
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 40px;
        padding: 20px; }
        html body .main-section form label, html body .main-section form input {
          display: block;
          height: 25px;
          margin-top: 5px; }
        html body .main-section form input {
          width: 100%;
          /*margin-top: $pading-ss-horizont;*/ }
        html body .main-section form div {
          margin-left: 20px;
          margin-right: 20px; }
        html body .main-section form button {
          height: 25px;
          width: 40%;
          display: inline-block;
          margin-top: 20px;
          margin-left: 20px; }
        html body .main-section form a {
          text-decoration: none; }
        html body .main-section form h3 {
          margin-bottom: 20px; }
        html body .main-section form .customField {
          margin-left: 0px;
          margin-right: 0px; }
          html body .main-section form .customField div {
            display: inline-block;
            width: 47%;
            margin-left: 5px;
            margin-right: 5px; }
      html body .main-section .phones ul {
        list-style: none;
        width: 90%; }
        html body .main-section .phones ul a {
          text-decoration: none;
          color: #000; }
        html body .main-section .phones ul li {
          height: 25px;
          width: 100%;
          background-color: #ffcc00;
          outline: 1px solid #000; }
    html body footer {
      text-align: center; }

/*# sourceMappingURL=styleS.css.map */
